body {
    background-color:#eaeaea;
}
/*.white-bg-box {
    background-color: white;
    border: 1px solid #cecece;
    padding: 7px;
}*/
.homestuff-nav {
    margin-bottom:10px;
}
.btn-homestuff-form {
    margin-top:10px;
}