body {
    background-color:#eaeaea;
}
/*.white-bg-box {
    background-color: white;
    border: 1px solid #cecece;
    padding: 7px;
}*/


.navbar-homestuff{
    color:white;
}


.btn-primary {
    color: #fff;
    background-color: #2b87a5;
    border-color: #267791;
}
.btn-primary:hover {
    color: #fff;
    background-color: #267791;
    border-color: #267791;
}
    .btn-primary.active, .btn-primary:active, .btn-primary:focus {
        color: #fff;
        background-color: #20657b;
        border-color: #20657b;
    }
.bg-primary {
    background-color: #2b87a5 !important;
}
.border-primary {
    border: 1px solid #2b87a5 !important;
}
.bg-complimentary {
    background-color: #A5492B;
}
.border-complimentary {
    border: 1px solid #A5492B;
}
.primary-hover:hover {
    color: #fff;
    background-color: #267791 !important;
}

.card-hover:hover {
    opacity:0.9;
}
.page-item.active .page-link {
    background-color: #2b87a5;
    border-color: #2b87a5;
}
.homestuff-primary {
    color: #fff !important;
    background-color: #2b87a5 !important;
}
.avatar-image {
    margin-right: 5px;
    max-width: 120px;
}
.card-description {
    font-size: 0.9em;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}