body {
    background-color:#eaeaea;
}
/*.white-bg-box {
    background-color: white;
    border: 1px solid #cecece;
    padding: 7px;
}*/

.bg-homestuff-dark{
    background-color:#2b87a5
}
.navbar-homestuff{
    color:white;
}


.btn-primary {
    color: #fff;
    background-color: #2b87a5;
    border-color: #267791;
}
    .btn-primary:hover {
        color: #fff;
        background-color: #267791;
        border-color: #267791;
    }
    .btn-primary.active, .btn-primary:active {
        color: #fff;
        background-color: #20657b;
        border-color: #20657b;
    }